.explain-text {
  background: -webkit-linear-gradient(145deg, #e9e8e8e1 40%, #0789e6 100%);
  padding: 4rem;
  text-align: center;
  border-radius: 90px 20px 90px 20px / 20px 90px 20px 90px;
  margin: 15rem auto 5rem auto;
  max-width: 1000px;
  transition: all 0.3s ease;
  transform: rotate(4deg);
}

.explain-text h2 {
  font-size: clamp(2.2rem, 2.5vw, 2.5rem);
  color: #000000;
  margin-bottom: 1rem;
  overflow: hidden;
  animation: fadeIn 2s infinite;
  text-shadow: 0 0 1px #0798e6;
}

.explain-text p {
  margin-top: 1rem;
  font-size: clamp(1.4rem, 1.5vw, 1.15rem);
  color: #000000;
  text-shadow: 0 0 20px #b2e607c9;
  line-height: 1.6;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .explain-text {
    padding: 1.5rem 1rem;
    margin: 6rem 1rem 3rem 1rem;
  }
  .explain-text h2 {
    font-size: 1rem;
  }
  .explain-text p {
    font-size: 0.8rem;
  }
}
