.explain-text {
  background: -webkit-linear-gradient(145deg, #e9e8e8e1 40%, #0789e6 100%);
  padding: 2rem;
  text-align: center;
  border-radius: 90px 20px 90px 20px / 20px 90px 20px 90px;
  margin: 15rem auto;
  max-width: 1000px;
  transition: all 0.3s ease;
}
.explain-text:hover {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.422);
  transform: translateY(-5px);
  cursor: text;
  transition: all 0.3s ease;
}
.explain-text h2 {
  font-size: clamp(2.2rem, 2.5vw, 2.5rem);
  color: #0798e6;
  margin-bottom: 1rem;
  overflow: hidden;
  /* animation: fadeIn 2s ease forwards; */
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.998); */
}

.explain-text p {
  margin-top: 1rem;
  font-size: clamp(1.4rem, 1.5vw, 1.15rem);
  color: #333;
  line-height: 1.6;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .explain-text {
    padding: 1.5rem 1rem;
    margin: 4rem 1rem;
  }
  .explain-text h2 {
    font-size: 1rem;
  }
  .explain-text p {
    font-size: 0.8rem;
  }
}
