.main-filter-sidebar {
  background-color: transparent;
  width: 280px;
  padding: 1.5rem 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
  user-select: none;
}
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 14px;
  background-color: #b6c7d4;
  border-radius: 6px 6px 60px 6px / 6px 6px 60px 6px;
}

.filter-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 0.8rem;
}

.filter-arrow.open {
  transform: rotate(180deg);
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.filter-option input[type="radio"] {
  cursor: pointer;
  accent-color: #0798e6;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: accent-color 0.3s ease;
}

.filter-option input[type="radio"]:focus-visible {
  outline: 2px solid #027ac9;
  outline-offset: 3px;
}

.filter-option label {
  flex-grow: 1;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  color: #0c2a48;
}

.filter-input {
  font-size: 1rem;
  border: 1px solid #e1cfcb;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #fff;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  margin: 0.5rem 0;
}

.filter-input:focus {
  border-color: #0798e6;
  outline: none;
  box-shadow: 0 0 8px #a0cdfb;
}

.filter-apply-btn {
  font-weight: 700;
  font-size: 1rem;
  background: linear-gradient(135deg, #0798e6, #007acc);
  color: white;
  border: none;
  padding: 0.65rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(7, 152, 230, 0.5);
  width: 100%;
  transition:
    background-color 0.3s ease,
    transform 0.15s ease,
    box-shadow 0.3s ease;
}

.filter-apply-btn:hover {
  box-shadow: 0 7px 20px rgba(6, 61, 98, 0.779);
}

.filter-apply-btn:active {
  transform: scale(0.96);
  box-shadow: 0 4px 10px rgba(2, 122, 201, 0.8);
}

.filter-sidebar > div > button.filter-apply-btn {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .main-filter-sidebar {
    width: 100%;
    padding: 1rem 1.25rem;
    position: relative;
    top: auto;
    background-color: transparent;
    margin-top: 0.2rem;
  }

  .filter-apply-btn {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 768px) {
  .main-filter-sidebar {
    width: 100%;
    padding: 1rem;
    position: relative;
    top: auto;
    background-color: transparent;
    margin-top: 0;
  }
  .filter-header {
    font-size: 1rem;
    padding: 8px 12px;
  }
  .filter-option {
    flex-direction: row;
    gap: 0.75rem;
    font-size: 0.9rem;
  }

  .filter-option span {
    font-weight: 500;
  }

  .filter-input,
  .filter-apply-btn {
    width: 100%;
  }

  .filter-apply-btn {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
}
