footer {
  background-color: #2d3c6054;
  color: rgba(46, 59, 132, 0.859);
  padding: 2rem 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  footer {
    padding: 1.5rem 0.5rem;
  }

  footer p {
    font-size: 0.9rem;
  }
}
