.item-card-container {
  min-width: 180px;
  max-width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "PT Serif", serif;
  flex: 0 0 auto;
  transition: all 0.3s ease;
}

.item-card-container:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.item-card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: contain;
  background-color: #ffffff;
  border: 1px solid #cccccc61;
  border-radius: 8px;
}

.item-card-title {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #000000;
  text-shadow: 0 0 1px #0798e6;
}

.item-card-condition,
.item-card-duration,
.item-card-price {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  max-height: calc(1.2em * 2);
  white-space: normal;
  margin: 0 0 8px;
}

.item-condition-excellent {
  color: #155724;
  font-weight: bold;
}

.item-condition-good {
  color: #004085;
  font-weight: bold;
}

.item-condition-fair {
  color: #856404;
  font-weight: bold;
}

.available {
  color: green;
  font-weight: bold;
}
.unavailable {
  color: #cccccc;
  font-weight: bold;
}
