.share-prompt-section {
  background-color: transparent;
  text-align: center;
  margin: 15rem 0;
}
.share-prompt-section h2 {
  font-size: 4rem;
  text-align: center;
  color: #f0983b;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 10px rgba(21, 139, 203, 0.459);
}

.share-prompt-section p {
  margin: 3rem 0;
  font-size: 1.4rem;
  color: #444;
  text-shadow: 1px 1px 25px rgba(6, 144, 208, 0.929);
}

.add-item-button {
  display: inline-block;
  background-color: #0789e6;
  color: white;
  border: none;
  padding: 0.7rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 15px 4px 15px 4px;
  cursor: pointer;
  transition:
    background-color 0.35s ease,
    transform 0.2s ease;
  box-shadow: 0 0px 20px rgba(230, 148, 7, 0.401);
}
.add-item-button:hover,
.add-item-button:focus {
  background-color: transparent;
  color: #0789e6;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(5, 112, 185, 0.6);
  outline: none;
}
