.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: linear-gradient(
    13deg,
    var(--color-primary) 47%,
    var(--color-secondary) 100%
  );
  background-color: #d4d5d6;
  padding: 20px;
  transition: left 0.75s ease-in-out;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
}

.sidebar.open {
  width: 200px;
  left: 0;
}

.sidebar h4 {
  margin: 1rem 0;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: color 0.2s;
}

.sidebar ul li:hover {
  color: #007bff;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: #363535;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #000;
}
